<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页</title>
    <style></style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css"
    />
  </head>
  <body>
    <pre style="font-size: 18px">
                                                                 没有秋虫的地方

                                                                                 叶圣陶  
        
          阶前看不见一茎绿草，窗外望不见一只蝴蝶，谁说是鹁鸽箱里的生活，鹁鸽未必这样趣味干燥呢。

          秋天来了，记忆就轻轻提示道：“凄凄切切的秋虫又要响起来了。

          可是一点影响也没有，邻舍儿啼人闹，弦歌杂作的深夜，街上轮震石响，邪许并起的清晨，无论你靠着枕儿听，凭着窗沿听，甚至贴着墙角听，总听不到一丝的秋虫的声息。

          并不是被那些欢乐的劳困的宏大的清亮的声音淹没了，以致听不出来，乃是这里本没有秋虫这东西。呵，不容留秋虫的地方！秋虫所不屑留的地方！
        
          若是在鄙野的乡间，这时令满耳是虫声了。白天与夜间一样地安闲；一切人物或动或静，都有自得之趣；

          嫩暖的阳光或者轻淡的云影覆盖在场上，到夜呢，明耀的星月或者徐缓的凉风看守着整夜，在这境界这时间唯一的足以感动心情的就是虫儿们的合奏。

          它们高、低、宏、细、疾、徐、作、歇，仿佛曾经过乐师的精心训练，所以这样地无可批评，踌躇满志。

          其实他们每一个都是神妙的乐师；众妙毕集，各抒灵趣，那有不成人间绝响的呢。虽然这些虫声会引起劳人的感叹，秋士的伤怀，独客的微喟，思妇的低泣；
        
          但是这正是无上的美的境界，绝好的自然诗篇，不独是旁人最欢喜吟味的，就是当境者也感受一种酸酸的麻麻的味道，这种味道在一方面是非常隽永的。
        
          大概我们所蕲求的不在于某种味道，只要时时有点儿味道尝尝，就自诩为生活不空虚了。

          假若这味道是甜美的，我们固然含着笑意来体味它；若是酸苦的，我们也要皱着眉头来辨尝它；这总比淡漠无味胜过百倍。

          我们以为最难堪而亟欲逃避的，惟有这一个淡漠无味！
        
          所以心如槁木不如工愁多感，迷蒙的醒不如热烈的梦，一口苦水胜于一盏白汤，一场痛哭胜于哀乐两忘。

          但这里并不是说愉快乐观是要不得的，清健的醒是不须求的，甜汤是罪恶的，狂笑是魔道的。这里只说有味总比淡漠远胜罢了。
        
          所以虫声终于是足系恋念的东西。又况劳人、秋士、独客、思妇以外还有无量的人，他们当然也是酷嗜味道的，当这凉意微逗的时候，谁能不忆起那妙美的秋之音乐？
        
          可是没有，绝对没有！井底似的庭院，铅色的水门汀地，秋虫早已避去惟恐不速了。而我们没有它们的翅膀与大腿，不能飞又不能跳，还是死守在这里。

          想到“井底”与“铅色”，觉得象征的意味丰富极了。                                                                                                            一九二三年八月三十一日作</pre
    >
    <!-- aplayer -->
    <div
      id="aplayer"
      class="aplayer"
      data-order="random"
      data-id="5210965038"
      data-server="netease"
      data-type="playlist"
      data-fixed="true"
      data-autoplay="true"
      data-volume="0.8"
    ></div>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@1.2.0/dist/Meting.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kaygb/kaygb@master/layer/layer.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kaygb/kaygb@master/js/v3.js"></script>
    <!-- end_aplayer -->
  </body>
</html>
